streamlit==1.32.0
gradio==4.27.0
requests==2.31.0
beautifulsoup4==4.12.3
newspaper3k==0.2.8
nltk==3.8.1
transformers==4.40.0
torch==2.2.1
gtts==2.5.1
flask==3.0.2
scikit-learn==1.4.1.post1
python-dotenv==1.0.1
textblob==0.18.0
accelerate==0.30.0
deep-translator==1.11.4
